#navBar .logo {
    float: none;
    text-align: center;
}

#navBar ul, #navBar ul li {
    float: none;
}

#navBar ul li a {
    padding: 5px;
    border-bottom: #444444 dotted 1px;
}

/* SHOWCASE */
#showcase .showcase-content {
    padding-top: 100px;
    padding-bottom: 30px;
}

/* HOME INFO */
#home-info {
    height: 550px;
}

#home-info .info-img {
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
}

/* BOXES */
.box {
    float: none;
    width: 100%;
}

/* ABOUT */
#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}

#about-info .info-right {
    margin-top: 30px;
}

.heading-large {
    text-align: center;
}

/* CONTACT FORM */
#contact-info .box {
    border-bottom: #444444 dotted 1px;
}